<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <body>
        <h1>Beans Lists</h1>

		<h2>
    		<span th:if="${isFiltered}">Filter Condition(s): <br> </span>
    		<span th:if="${!startsWith.isEmpty()}" <h3 th:text="'Starts with: ' + ${startsWith.get()}"/><br></span>
    		<span th:if="${!endsWith.isEmpty()}" <h3 th:text="'Ends with: ' + ${endsWith.get()}"/><br></span>
			<span th:if="${contains.isPresent()}" <h3 th:text="${'Contains: ' + contains.get()}"/><br></span>  		
		</h2>

        <br/><br/>
        <div>
            <table border="1">
                <tr>
                    <th>Name</th>
                </tr>

                <tr th:each ="beanName : ${beans}">
                    <td><h3 th:text="${beanName}"/></td>
                </tr>
            </table>          
        </div>
    </body>
</html>